@if (!string.IsNullOrWhiteSpace(@Game.Cover?.Path))
{
    <LocalImage ImagePath="@Game.Cover.Path"
                ImageClass="game-cover"
                AltText="@($"{@Game.Name} cover")">
        <Placeholder>
            <div class="game-cover game-cover-placeholder">
                No Cover
            </div>
        </Placeholder>
    </LocalImage>
}
else
{
    <div class="game-cover game-cover-placeholder">
        No Cover
    </div>
}