.page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
}

main {
    flex: 1;
    min-width: 0;
}

.sidebar {
    background-image: var(--sidebar-gradient);
    min-width: 0;
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        flex: 0 0 250px;
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
        overflow-y: auto;
    }
}

#blazor-error-ui {
    color-scheme: light only;
    background: #fff9c4;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
