<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">GameLogBook</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-spacer"></div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="logs">
                <span class="bi bi-bookmark" aria-hidden="true"></span> Logs
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="playthroughs">
                <span class="bi bi-journal-bookmark-fill" aria-hidden="true"></span> Playthroughs
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="books">
                <span class="bi bi-book" aria-hidden="true"></span> Books
            </NavLink>
        </div>

        <div class="nav-spacer"></div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="games">
                <span class="bi bi-controller" aria-hidden="true"></span> Games
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="platforms">
                <span class="bi bi-tv" aria-hidden="true"></span> Platforms
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="companies">
                <span class="bi bi-building" aria-hidden="true"></span> Companies
            </NavLink>
        </div>

        <div class="nav-item nav-item-bottom px-3">
            <NavLink class="nav-link" href="settings">
                <span class="bi bi-gear-fill" aria-hidden="true"></span> Settings
            </NavLink>
        </div>
    </nav>
</div>
