<div class="popup-backdrop" @onclick="HandleClose">
    <div class="popup" @onclick:stopPropagation="true">
        <div class="popup-content">
            @ChildContent
        </div>
    </div>
</div>
