<div class="popup-backdrop" @onclick="HandleClose">
    <div class="popup"
         data-focus-scope="modal"
         @ref="popupElement"
         @onclick:stopPropagation="true">
        <div class="popup-content">
            @ChildContent
        </div>
    </div>
</div>
