@page "/Error"

<PageTitle>Error</PageTitle>

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while running GameLogBook.</h2>
<p>
    Restart the app and try again. If the problem continues, check the debug output from the local app run.
</p>
