@page "/Games"
@rendermode InteractiveServer
@using GameLogBook.Components.Elements.AddGame
@using GameLogBook.Components.Elements.GameEntry
@using GameLogBook.Models.Games
@inherits CollectionPageBase<Game>

<PageTitle>Games</PageTitle>

<CollectionPageShell Title="Games"
                     Description="Your saved game library."
                     AddButtonText="Add Game"
                     OnAdd="OpenAddPopup"
                     IsEmpty="@(Items.Count == 0)"
                     EmptyTitle="No games added yet"
                     EmptyDescription="Add a game to start building your library.">
    <ul class="collection-list">
        @foreach (Game game in Items)
        {
            <li>
                <GameEntry Game="game"
                           ShowButtons="true"
                           OnRemove="RemoveGame" />
            </li>
        }
    </ul>
</CollectionPageShell>

@if (IsAddPopupOpen)
{
    <AddGamePopup OnClose="CloseAddPopup"
                  OnGameSelected="AddGame" />
}
