@page "/Library"
@rendermode InteractiveServer
@using GameLogBook.Components.Elements.AddGame
@using GameLogBook.Models.Games
@using GameLogBook.Components.Elements.GameEntry

<PageTitle>Library</PageTitle>

<div class="library-page">
    <div class="library-header">
        <h3>Library</h3>
    </div>

    @if (games.Count == 0)
    {
        <div class="empty-state">
            <h4>No games added yet</h4>
            <p>Use the add button to add your first game.</p>
        </div>
    }
    else
    {
        <ul class="game-list">
            @foreach (Game game in games)
            {
                <GameEntry Game="game" ShowButtons="true"/>
            }
        </ul>
    }

    <AddGameButton OnClick="OpenAddPopup" />
</div>

@if (isAddPopupOpen)
{
    <AddGamePopup OnClose="CloseAddPopup"
                  OnGameSelected="AddGame" />
}