@page "/platforms"
@using GameLogBook.Models.Platforms
@using GameLogBook.Components.Elements.PlatformElements
@inherits CollectionPageBase<Platform>

<PageTitle>Platforms</PageTitle>

<CollectionPageShell Title="Platforms"
                     Description="The hardware and storefronts in your library."
                     AddButtonText="Add Platform"
                     OnAdd="OpenAddPopup"
                     IsEmpty="@(Items.Count == 0)"
                     EmptyTitle="No platforms added yet"
                     EmptyDescription="Add a platform to start organizing where you play.">
    <ul class="collection-grid">
        @foreach (Platform platform in Items)
        {
            <li>
                <PlatformEntryWidget Platform="platform" 
                                     OnClick="() => OpenEditPopup(platform)"/>
            </li>
        }
    </ul>
</CollectionPageShell>
